/*
https://docs.nestjs.com/controllers#controllers
*/

import { Controller, Get } from '@nestjs/common';

@Controller()
export class {{ Name }}Controller {
  @Get()
  home() {
    return "Hello from {{ Name }}Controller"
  }
}
